ANTHROPIC_API_KEY=
CONFIG_PATH=./examples/harvest/config.yaml

# harvest oauth flow
HARVEST_CLIENT_ID=
HARVEST_CLIENT_SECRET=
HARVEST_REDIRECT_URI=http://localhost:3000

# harvest MCP
HARVEST_MCP_URL=https://api.harvestapp.com/mcp
HARVEST_ACCOUNT_ID=
HARVEST_ACCESS_TOKEN=
